/* 路径导航css */
#path_nav{
	margin-left: 240px;
	padding-right: 10px;
}
#path_nav > ol>li>a{
	font-size: 18px;
	text-decoration: none;
}
.breadcrumb{
	background: #fff !important;
	margin: 0;
	border-bottom: 1px #ccc solid;
	border-radius: 0;
}

#iframe-contant{
	z-index: -1;
	padding-left: 240px;
	padding-top: 150px;
}
