<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<servlet>
		<servlet-name>InitServlet</servlet-name>
		<servlet-class>cn.henau.cms.servlet.InitServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/exception</location>
	</error-page>
	<!-- <filter>
		<filter-name>LoginFilter</filter-name>
		<filter-class>cn.henau.cms.filter.LoginFilter</filter-class>
	</filter>
	<filter>
		<filter-name>AlreadyLoginFilter</filter-name>
		<filter-class>cn.henau.cms.filter.AlreadyLoginFilter</filter-class>
	</filter> -->
	<!-- <filter-mapping>
		<filter-name>AlreadyLoginFilter</filter-name>
	</filter-mapping> -->
	
	<!-- <servlet>
		<servlet-name>CourseServlet</servlet-name>
		<servlet-class>cn.henau.cms.servlet.CourseServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CourseServlet</servlet-name>
		<url-pattern>/course/</url-pattern>
	</servlet-mapping> -->
</web-app>